/* *{
    background-color: purple;
} */
/* body{
    background-color: aqua;
} */

/* .heading{
    color: blue;
    font-size: 50px;
} */

/* #para{
    background-color: pink;
}
span{
    background-color: blue;
} */

/* h1, h2, p{
    color: rebeccapurple;
} */

/* ul>li{
    color: orangered;
} */

/* h1+h2{
    color: red;
} */

